.createListing {
  background-color: #ffffff;
  font-weight: 600;
}

.createListingButton {
  padding-bottom: 5rem;
}

.listingText {
  margin-top: 3rem;
  font-weight: 600;
}

.lisitingsList {
  padding: 0;
}
